


<div class="col-md-12 p-2">
	<div class="card">
		<div class="card-body text-center">

    <h3>Uh oh. Looks like we don't have any new jobs.</h3>
    <h3>What would you like to do?</h3>
    <br/>
    <a class="btn scrape-jobs" href=""><h5>Try scraping new jobs</h5></a>
    <a class="btn " href="/saved"><h5>Go to saved jobs</h5></a>

		</div>
	</div>
</div>



